	<div id="textpanel">
		<div align="center">
			<h1> Welcome to Courser <h1>
		</div>
	</div>

	<div id="searchbox" class="col-sm-4 col-sm-offset-4" ng-controller="searchController">
		<div class="form-horizontal">
			<div class="form-group">
	 			<input class="form-control" id="focusedInput" type="text" placeholder="What are you interested in?" align="center" ng-model="querey.text" ng-keypress="setQuereyEnter($event, querey)">
			</div>
			<div class="form-group" align="center">
				<a class="btn btn-primary" ng-click="setQuerey(querey)">Search</a>
			</div>
		</div>
	</div>
